## Part 0: Articles Used

Reading in Wiki Page

https://public-paws.wmcloud.org/User:APaskulin_(WMF)/en-wikipedia-search.ipynb

https://www.geeksforgeeks.org/json-loads-in-python/



Setting Up PostGreSQL

https://www.w3schools.com/postgresql/postgresql_pgadmin4.php



Inserting JSON Data File into PostgreSQL using Python Script

https://thedbadmin.com/insert-json-data-file-into-postgresql-using-python-script/

https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd



Inserting Dataframe into PostgreSQL using Python

https://www.geeksforgeeks.org/how-to-write-pandas-dataframe-to-postgresql-table/ 


Creating Environment Variables

https://medium.com/@c17hawke/unlock-secrets-to-managing-your-credentials-with-python-dotenv-quickstart-guide-5e0e34cd5c9a#:~:text=With%20python%2Ddotenv%20%2C%20you%20can,the%20risk%20of%20accidental%20exposure

https://medium.com/@oadaramola/a-pitfall-i-almost-fell-into-d1d3461b2fb8

## Part 1: Reading in Wiki Page

In [41]:
import requests
import json
import os

import pandas as pd
import psycopg2
import json
from sqlalchemy.engine import url
from sqlalchemy import create_engine
import pyodbc
from psycopg2.extensions import AsIs

import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

import sys
from dotenv import load_dotenv, find_dotenv

In [42]:
search_query = 'Beatles'
number_of_results = 20
endpoint = 'search/page'
base_url = 'https://en.wikipedia.org/w/rest.php/v1/'
url = base_url + endpoint

response = requests.get(url, params={'q': search_query, 'limit': number_of_results})
response = json.loads(response.text)

In [43]:
## Remove the semicolon if you want to see the raw JSON dictionaries.
response;

In [44]:
path = os.getcwd()

## Part 2: Saving Output as JSON File

In [45]:
with open(f'{path}/sample.json', 'w') as outfile:
    json.dump(response, outfile)

## Part 3: Making JSON Dictionary into Python Dataframe

In [46]:
# read JSON data from file
with open('sample.json') as f:
    data = json.load(f)

In [47]:
### Using JSON file
# Use pd.json_normalize to convert the JSON to a DataFrame
df = pd.json_normalize(data['pages'], max_level=1)
                    # , meta=['id', 'key', 'title', 'excerpt', 'matched_title', 'description', ['thumbnail', 'mimetype'], ['thumbnail', 'width'], ['thumbnail', 'height'], ['thumbnail', 'duration'], ['thumbnail', 'url']])

df.columns = ['ID', 'KEY', 'TITLE', 'EXCERPT', 'MATCHED_TITLE', 'DESCRIPTION', 'THUMBNAIL_MIMETYPE', 'THUMBNAIL_WIDTH','THUMBNAIL_HEIGHT','THUMBNAIL_DURATION', 'THUMBNAIL_URL', 'THUMBNAIL_ADDTL_INFO']

In [48]:
### Using Dictionary straight from Python

# Use pd.json_normalize to convert the JSON to a DataFrame
df = pd.json_normalize(response['pages'], max_level=1)
                    # meta=['id', 'key', 'title', 'excerpt', 'matched_title', 'description'])
                    # meta=['id', 'key', 'title', 'excerpt', 'matched_title', 'description', ['thumbnail', 'mimetype'], ['thumbnail', 'width'], ['thumbnail', 'height'], ['thumbnail', 'duration'], ['thumbnail', 'url']])

#df.columns = ['ID', 'KEY', 'TITLE', 'EXCERPT', 'MATCHED_TITLE', 'DESCRIPTION']
df.columns = ['ID', 'KEY', 'TITLE', 'EXCERPT', 'MATCHED_TITLE', 'DESCRIPTION', 'THUMBNAIL_MIMETYPE', 'THUMBNAIL_WIDTH','THUMBNAIL_HEIGHT','THUMBNAIL_DURATION', 'THUMBNAIL_URL', 'THUMBNAIL_ADDTL_INFO']

In [49]:
df = df.astype('str')

In [50]:
df.head(5)

,ID,KEY,TITLE,EXCERPT,MATCHED_TITLE,DESCRIPTION,THUMBNAIL_MIMETYPE,THUMBNAIL_WIDTH,THUMBNAIL_HEIGHT,THUMBNAIL_DURATION,THUMBNAIL_URL,THUMBNAIL_ADDTL_INFO
0,29812,The_Beatles,The Beatles,refashioned themselves as the Silver <span cla...,None,English rock band (1960â€“1970),image/jpeg,60.0,60.0,nan,//upload.wikimedia.org/wikipedia/commons/thumb...,nan
1,74840,With_the_Beatles,With the Beatles,"With the <span class=""searchmatch"">Beatles</sp...",None,1963 studio album by the Beatles,nan,nan,nan,nan,nan,nan
2,187696,The_Beatles_discography,The Beatles discography,"Complete <span class=""searchmatch"">Beatles</sp...",None,None,image/jpeg,60.0,44.0,nan,//upload.wikimedia.org/wikipedia/commons/thumb...,nan
3,6771955,List_of_songs_recorded_by_the_Beatles,List of songs recorded by the Beatles,"1980s, the <span class=""searchmatch"">Beatles</...",None,Songs recorded by the Beatles,image/jpeg,60.0,44.0,nan,//upload.wikimedia.org/wikipedia/commons/thumb...,nan
4,75350,The_Beatles_(album),The Beatles (album),"The <span class=""searchmatch"">Beatles</span>, ...",None,1968 studio album by the Beatles,image/jpeg,60.0,60.0,nan,//upload.wikimedia.org/wikipedia/commons/thumb...,nan

## Part 4: Connecting to PostGreSQL

In [51]:
load_dotenv(f'{path}/test.env', override=True);

In [52]:
## Using a ENV file as recommended by Chris to help with automation.
## No need to manually input these.

username = os.getenv("username")
password = os.getenv("password")

# username = input()
# password = input()

In [53]:

conn_string = f'postgresql://{username}:{password}@localhost/postgres'

db = create_engine(conn_string)

In [54]:
conn = db.connect() 
conn1 = psycopg2.connect( 
    database="postgres", 
    user=username,  
    password=password,  
    host='localhost',  
    port= '5432'
)

In [55]:
conn1.autocommit = True
cursor = conn1.cursor()

In [56]:
####  drop table if it already exists 
## Delete Table Entirely: 
# cursor.execute('drop table if exists wiki') 

# sql = '''CREATE TABLE wiki (ID char(500)
#                             , KEY char(500)
#                             , TITLE char(500)
#                             , EXCERPT char(500)
#                             , MATCHED_TITLE char(500)
#                             , DESCRIPTION char(500)
#                             , THUMBNAIL_MIMETYPE char(500)
#                             , THUMBNAIL_WIDTH char(500)
#                             , THUMBNAIL_HEIGHT char(500)
#                             , THUMBNAIL_DESCRIPTION char(500)
#                             , THUMBNAIL_URL char(500)
#                             , THUMBNAIL_ADDTL_INFO char(500)
#                             );'''

# cursor.execute(sql)

## Part 5: Making PostGreSQL Table from Dataframe

In [56]:
## Delete rows from Table but keep table frame
cursor.execute('DELETE FROM wiki')

In [57]:
df.to_sql('wiki', conn, if_exists= 'replace', index=False);

In [58]:
# fetching all rows 
# sql1='''select * from wiki;'''
# cursor.execute(sql1) 
# for i in cursor.fetchall(): 
#     print(i) 
  
conn1.commit() 
conn1.close()